In [1]:
import pandas as pd

gdp_data = pd.read_csv('../data/API_NY.GDP.MKTP.CD_DS2_en_csv_v2_740286/API_NY.GDP.MKTP.CD_DS2_en_csv_v2_740286.csv', header=2)
gdp_data.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,Unnamed: 68
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.962907e+09,2.983635e+09,3.092429e+09,3.276184e+09,3.395799e+09,2.558906e+09,3.103184e+09,3.544708e+09,NaN,NaN
1,Africa Eastern and Southern,AFE,GDP (current US$),NY.GDP.MKTP.CD,2.121696e+10,2.230747e+10,2.370247e+10,2.577938e+10,2.804954e+10,3.037491e+10,...,8.992957e+11,8.298300e+11,9.401055e+11,1.012719e+12,1.006527e+12,9.290741e+11,1.086772e+12,1.183962e+12,1.236163e+12,NaN
2,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.913422e+10,1.811657e+10,1.875346e+10,1.805322e+10,1.879944e+10,1.995593e+10,1.426650e+10,1.450216e+10,NaN,NaN
3,Africa Western and Central,AFW,GDP (current US$),NY.GDP.MKTP.CD,1.188413e+10,1.268566e+10,1.360683e+10,1.443998e+10,1.576911e+10,1.693448e+10,...,7.693673e+11,6.921811e+11,6.857502e+11,7.681896e+11,8.239336e+11,7.871467e+11,8.459930e+11,8.771408e+11,7.965862e+11,NaN
4,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,9.049642e+10,5.276162e+10,7.369015e+10,7.945069e+10,7.089796e+10,4.850156e+10,6.650513e+10,1.043997e+11,8.472296e+10,NaN

In [2]:
# COULD HAVE AVOIDED THIS STEP IF STATED USING CODES OF COUNTRIES INSTEAD !
# 22 countries names to fix  'Bahamas, The',  'Brunei Darussalam', 'Cabo Verde', 
# 'Congo, Rep.',  'Congo, Dem. Rep.', 'Egypt, Arab Rep.',  'Gambia, The',
# 'Hong Kong SAR, China',  'Iran, Islamic Rep.',  'Macao SAR, China',
# 'Micronesia, Fed. Sts.',  'Russian Federation', 'St. Kitts and Nevis',
# 'St. Lucia', 'St. Martin (French part)', 'St. Vincent and the Grenadines',
# "Korea, Dem. People's Rep.",  'Korea, Rep.', 'Syrian Arab Republic',
# 'Turkiye',  'Venezuela, RB',  'Viet Nam',  'Yemen, Rep.',

gdp_data.loc[gdp_data['Country Name'] == 'Bahamas, The', 'Country Name'] = 'Bahamas'
gdp_data.loc[gdp_data['Country Name'] == 'Brunei Darussalam', 'Country Name'] = 'Brunei'
gdp_data.loc[gdp_data['Country Name'] == 'Cabo Verde', 'Country Name'] = 'Cape Verde'
gdp_data.loc[gdp_data['Country Name'] == 'Congo, Rep.', 'Country Name'] = 'Congo'
gdp_data.loc[gdp_data['Country Name'] == 'Congo, Dem. Rep.', 'Country Name'] = 'Democratic Republic of Congo'
gdp_data.loc[gdp_data['Country Name'] == 'Egypt, Arab Rep.', 'Country Name'] = 'Egypt'
gdp_data.loc[gdp_data['Country Name'] == 'Gambia, The', 'Country Name'] = 'Gambia'
gdp_data.loc[gdp_data['Country Name'] == 'Hong Kong SAR, China', 'Country Name'] = 'Hong Kong'
gdp_data.loc[gdp_data['Country Name'] == 'Iran, Islamic Rep.', 'Country Name'] = 'Iran'
gdp_data.loc[gdp_data['Country Name'] == 'Macao SAR, China', 'Country Name'] = 'Macao'
gdp_data.loc[gdp_data['Country Name'] == 'Micronesia, Fed. Sts.', 'Country Name'] = 'Micronesia (country)'
gdp_data.loc[gdp_data['Country Name'] == 'Korea, Dem. People\'s Rep.', 'Country Name'] = 'North Korea'
gdp_data.loc[gdp_data['Country Name'] == 'Russian Federation', 'Country Name'] = 'Russia'
gdp_data.loc[gdp_data['Country Name'] == 'St. Kitts and Nevis', 'Country Name'] = 'Saint Kitts and Nevis'
gdp_data.loc[gdp_data['Country Name'] == 'St. Lucia', 'Country Name'] = 'Saint Lucia'
gdp_data.loc[gdp_data['Country Name'] == 'St. Vincent and the Grenadines', 'Country Name'] = 'Saint Vincent and the Grenadines'
gdp_data.loc[gdp_data['Country Name'] == 'Korea, Rep.', 'Country Name'] = 'South Korea'
gdp_data.loc[gdp_data['Country Name'] == 'Syrian Arab Republic', 'Country Name'] = 'Syria'
gdp_data.loc[gdp_data['Country Name'] == 'Turkiye', 'Country Name'] = 'Turkey'
gdp_data.loc[gdp_data['Country Name'] == 'Venezuela, RB', 'Country Name'] = 'Venezuela'
gdp_data.loc[gdp_data['Country Name'] == 'Viet Nam', 'Country Name'] = 'Vietnam'
gdp_data.loc[gdp_data['Country Name'] == 'Yemen, Rep.', 'Country Name'] = 'Yemen'

set_gdp = set(gdp_data['Country Name'])

In [3]:
df_1 = pd.read_csv('../data/01_world_spatio_temporal_plastic_production_v0.csv')
df_1.columns = ['year', 'plastic_produced', 'country']
df_1.head()

set_plastic = set(df_1.country)

In [5]:
# understanding what countries have GDP data and which contries don't and why
common_countries = set_plastic.intersection(set_gdp)
absent_countries = set_plastic.difference(set_gdp)

print(f'Total countries in GDP dataset: {len(set_gdp)}')
print(f'Common countries: {len(common_countries)}')
print(f'Countries not in the list: {len(absent_countries)}')
absent_countries

Total countries in GDP dataset: 266
Common countries: 167
Countries not in the list: 1

{'Palestine'}

### Adjusting total world production to the right GDP proportions

In [20]:
gdp_data_of_interest = gdp_data[gdp_data['Country Name'].isin(common_countries)]
gdp_data_of_interest.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,Unnamed: 68
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.962907e+09,2.983635e+09,3.092429e+09,3.276184e+09,3.395799e+09,2.558906e+09,3.103184e+09,3.544708e+09,NaN,NaN
4,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,9.049642e+10,5.276162e+10,7.369015e+10,7.945069e+10,7.089796e+10,4.850156e+10,6.650513e+10,1.043997e+11,8.472296e+10,NaN
5,Albania,ALB,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.138685e+10,1.186120e+10,1.301973e+10,1.515642e+10,1.540183e+10,1.516273e+10,1.793057e+10,1.891638e+10,2.297768e+10,NaN
8,United Arab Emirates,ARE,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3.702755e+11,3.692553e+11,3.905168e+11,4.270494e+11,4.179897e+11,3.494730e+11,4.151788e+11,5.070640e+11,5.041735e+11,NaN
9,Argentina,ARG,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,5.947493e+11,5.575323e+11,6.436284e+11,5.248199e+11,4.477547e+11,3.857405e+11,4.879026e+11,6.311334e+11,6.405914e+11,NaN

In [23]:
countries_with_no_2010GDP = gdp_data_of_interest[gdp_data_of_interest['2010'].isna()]['Country Name']
gdp_data_of_interest[gdp_data_of_interest['2010'].isna()]

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,Unnamed: 68
38,Channel Islands,CHI,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,9.072060e+09,9.070981e+09,9.940767e+09,9.921387e+09,9.301349e+09,1.113849e+10,1.122832e+10,NaN,NaN
51,Curacao,CUW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3.058779e+09,3.024690e+09,3.033433e+09,3.046365e+09,3.026124e+09,2.534328e+09,2.739608e+09,3.073840e+09,NaN,NaN
84,Gibraltar,GIB,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193,North Korea,PRK,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
225,Sint Maarten (Dutch part),SXM,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.417889e+09,1.427017e+09,1.353212e+09,1.259200e+09,1.407880e+09,1.236428e+09,1.353071e+09,1.537089e+09,1.623166e+09,NaN
255,British Virgin Islands,VGB,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
set(countries_with_no_2010GDP)

{'British Virgin Islands',
 'Channel Islands',
 'Curacao',
 'Gibraltar',
 'North Korea',
 'Sint Maarten (Dutch part)'}

In [26]:
print(f'Before we throw countries with no GDP: {len(common_countries)}')
common_countries = common_countries.difference(countries_with_no_2010GDP)
print(f'After we throw countries with no GDP: {len(common_countries)}')

Before we throw countries with no GDP: 167
After we throw countries with no GDP: 161

In [29]:
# re-creating countries of interest GDP
gdp_data_of_interest = gdp_data[gdp_data['Country Name'].isin(common_countries)]
gdp_data_of_interest.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,Unnamed: 68
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.962907e+09,2.983635e+09,3.092429e+09,3.276184e+09,3.395799e+09,2.558906e+09,3.103184e+09,3.544708e+09,NaN,NaN
4,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,9.049642e+10,5.276162e+10,7.369015e+10,7.945069e+10,7.089796e+10,4.850156e+10,6.650513e+10,1.043997e+11,8.472296e+10,NaN
5,Albania,ALB,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.138685e+10,1.186120e+10,1.301973e+10,1.515642e+10,1.540183e+10,1.516273e+10,1.793057e+10,1.891638e+10,2.297768e+10,NaN
8,United Arab Emirates,ARE,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3.702755e+11,3.692553e+11,3.905168e+11,4.270494e+11,4.179897e+11,3.494730e+11,4.151788e+11,5.070640e+11,5.041735e+11,NaN
9,Argentina,ARG,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,5.947493e+11,5.575323e+11,6.436284e+11,5.248199e+11,4.477547e+11,3.857405e+11,4.879026e+11,6.311334e+11,6.405914e+11,NaN

In [30]:
# obtaining coefficient of countries of interest GDP to world GDP
x_to_world = gdp_data_of_interest['2010'].sum() / gdp_data['2010'].sum()
x_to_world

0.11991561340729866

Value seems to small. Lets investigate more why that might be the case

In [34]:
print(f'Proportion of countries of interest to the whole dataset: {len(gdp_data_of_interest)/len(gdp_data)}')
print(len(set_gdp.difference(common_countries)))
print(set_gdp.difference(common_countries))

Proportion of countries of interest to the whole dataset: 0.6052631578947368
105
{'European Union', 'Liechtenstein', 'North America', 'Upper middle income', 'Not classified', 'Andorra', 'Luxembourg', 'Pre-demographic dividend', 'Virgin Islands (U.S.)', 'Curacao', 'East Asia & Pacific (IDA & IBRD countries)', 'Arab World', 'Central African Republic', 'Ethiopia', 'Eswatini', 'Other small states', 'Nepal', 'East Asia & Pacific (excluding high income)', 'Europe & Central Asia', 'Tajikistan', 'Sub-Saharan Africa (IDA & IBRD countries)', 'IDA only', 'Channel Islands', 'South Asia', 'Zimbabwe', 'Isle of Man', 'Mongolia', 'Lesotho', 'Middle East & North Africa', 'Botswana', 'Europe & Central Asia (excluding high income)', 'Sub-Saharan Africa', 'Gibraltar', 'West Bank and Gaza', 'OECD members', 'Late-demographic dividend', 'Kosovo', 'Malawi', 'Sub-Saharan Africa (excluding high income)', 'Slovak Republic', 'Middle East & North Africa (IDA & IBRD countries)', 'Small states', 'Africa Western and Central', 'Turkmenistan', 'Middle income', 'Euro area', 'Least developed countries: UN classification', 'Burundi', 'Paraguay', 'Early-demographic dividend', 'Europe & Central Asia (IDA & IBRD countries)', 'Uzbekistan', 'Chad', 'Austria', 'IDA total', 'Kyrgyz Republic', 'Serbia', 'East Asia & Pacific', 'American Samoa', 'Belarus', 'Hungary', 'South Asia (IDA & IBRD)', 'Rwanda', 'Bolivia', 'North Korea', 'South Sudan', 'IBRD only', 'Azerbaijan', 'Latin America & Caribbean', 'High income', 'Sint Maarten (Dutch part)', 'Low income', 'Niger', 'Heavily indebted poor countries (HIPC)', 'Zambia', 'World', 'Africa Eastern and Southern', 'St. Martin (French part)', 'Timor-Leste', 'Post-demographic dividend', 'Burkina Faso', 'Lao PDR', 'Lower middle income', 'Latin America & the Caribbean (IDA & IBRD countries)', 'North Macedonia', 'Mali', 'Central Europe and the Baltics', 'Latin America & Caribbean (excluding high income)', 'Czechia', 'Kazakhstan', 'British Virgin Islands', 'Middle East & North Africa (excluding high income)', 'Caribbean small states', 'Bhutan', 'Afghanistan', 'Moldova', 'Fragile and conflict affected situations', 'Switzerland', 'Uganda', 'IDA blend', 'Low & middle income', 'Pacific island small states', 'Armenia', 'San Marino', 'IDA & IBRD total'}

Okay, in this case we see that here are some aggregated entities such as European Union and North America, so double counting does exist in this case. We shouldn't worry about low proportion to the rest of the world... But we should worry about it, as we need to clean the dataset to understand if what proportion of the world plastic production is attributed to these countries... Let's see

In [35]:
set_gdp.difference(common_countries)

{'Afghanistan',
 'Africa Eastern and Southern',
 'Africa Western and Central',
 'American Samoa',
 'Andorra',
 'Arab World',
 'Armenia',
 'Austria',
 'Azerbaijan',
 'Belarus',
 'Bhutan',
 'Bolivia',
 'Botswana',
 'British Virgin Islands',
 'Burkina Faso',
 'Burundi',
 'Caribbean small states',
 'Central African Republic',
 'Central Europe and the Baltics',
 'Chad',
 'Channel Islands',
 'Curacao',
 'Czechia',
 'Early-demographic dividend',
 'East Asia & Pacific',
 'East Asia & Pacific (IDA & IBRD countries)',
 'East Asia & Pacific (excluding high income)',
 'Eswatini',
 'Ethiopia',
 'Euro area',
 'Europe & Central Asia',
 'Europe & Central Asia (IDA & IBRD countries)',
 'Europe & Central Asia (excluding high income)',
 'European Union',
 'Fragile and conflict affected situations',
 'Gibraltar',
 'Heavily indebted poor countries (HIPC)',
 'High income',
 'Hungary',
 'IBRD only',
 'IDA & IBRD total',
 'IDA blend',
 'IDA only',
 'IDA total',
 'Isle of Man',
 'Kazakhstan',
 'Kosovo',
 'Kyrgyz Republic',
 'Lao PDR',
 'Late-demographic dividend',
 'Latin America & Caribbean',
 'Latin America & Caribbean (excluding high income)',
 'Latin America & the Caribbean (IDA & IBRD countries)',
 'Least developed countries: UN classification',
 'Lesotho',
 'Liechtenstein',
 'Low & middle income',
 'Low income',
 'Lower middle income',
 'Luxembourg',
 'Malawi',
 'Mali',
 'Middle East & North Africa',
 'Middle East & North Africa (IDA & IBRD countries)',
 'Middle East & North Africa (excluding high income)',
 'Middle income',
 'Moldova',
 'Mongolia',
 'Nepal',
 'Niger',
 'North America',
 'North Korea',
 'North Macedonia',
 'Not classified',
 'OECD members',
 'Other small states',
 'Pacific island small states',
 'Paraguay',
 'Post-demographic dividend',
 'Pre-demographic dividend',
 'Rwanda',
 'San Marino',
 'Serbia',
 'Sint Maarten (Dutch part)',
 'Slovak Republic',
 'Small states',
 'South Asia',
 'South Asia (IDA & IBRD)',
 'South Sudan',
 'St. Martin (French part)',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa (IDA & IBRD countries)',
 'Sub-Saharan Africa (excluding high income)',
 'Switzerland',
 'Tajikistan',
 'Timor-Leste',
 'Turkmenistan',
 'Uganda',
 'Upper middle income',
 'Uzbekistan',
 'Virgin Islands (U.S.)',
 'West Bank and Gaza',
 'World',
 'Zambia',
 'Zimbabwe'}

In [36]:
# we should remove these entities from the original dataset to avoid double counting
entiries_to_remove = { 'Africa Eastern and Southern',
 'Africa Western and Central', 'Arab World',
 'Early-demographic dividend',
 'East Asia & Pacific',
 'East Asia & Pacific (IDA & IBRD countries)',
 'East Asia & Pacific (excluding high income)',
 'Euro area',
 'Europe & Central Asia',
 'Europe & Central Asia (IDA & IBRD countries)',
 'Europe & Central Asia (excluding high income)',
 'European Union',
 'Fragile and conflict affected situations',
 'Heavily indebted poor countries (HIPC)',
 'High income',
 'IBRD only',
 'IDA & IBRD total',
 'IDA blend',
 'IDA only',
 'IDA total', 'Lao PDR',
 'Late-demographic dividend',
 'Latin America & Caribbean',
 'Latin America & Caribbean (excluding high income)',
 'Latin America & the Caribbean (IDA & IBRD countries)',
 'Least developed countries: UN classification', 'Low & middle income',
 'Low income',
 'Lower middle income', 'Lesotho',
 'Middle East & North Africa',
 'Middle East & North Africa (IDA & IBRD countries)',
 'Middle East & North Africa (excluding high income)',
 'Middle income', 'North America', 'Not classified',
 'OECD members',
 'Other small states',
 'Pacific island small states', 'Post-demographic dividend',
 'Pre-demographic dividend', 'Small states',
 'South Asia',
 'South Asia (IDA & IBRD)', 'Sub-Saharan Africa',
 'Sub-Saharan Africa (IDA & IBRD countries)',
 'Sub-Saharan Africa (excluding high income)', 'Upper middle income',
 'World',
}

In [37]:
print(f'Before we throw specified entities: {len(set_gdp)}')
set_gdp = set_gdp.difference(entiries_to_remove)
print(f'After we throw specified entities: {len(set_gdp)}')

Before we throw specified entities: 266
After we throw specified entities: 217

In [38]:
# re - creating country gdp & re-calculating the percentage 
gdp_data = gdp_data[gdp_data['Country Name'].isin(set_gdp)]

x_to_world = gdp_data_of_interest['2010'].sum() / gdp_data['2010'].sum()
x_to_world

0.9474667328086517

Now seems legit. Now we can created adjusted plastic production

In [41]:
from owid import catalog
# opening TheWorldBanks's catalogue
plastic_catalogs = catalog.find('plastic')
dataset_name = "plastic_use_polymer"
dataset_path = plastic_catalogs[plastic_catalogs['table'] == dataset_name].path.iloc[0]

# loading method from the docs
rc = catalog.RemoteCatalog() 
plastic_polymer_df = rc[dataset_path]

# adjusting total_plastic_prod_x
total_plastic_prod_x = plastic_polymer_df.loc['World', 2010]['total'] * x_to_world
total_plastic_prod_x

330552193.7422824

### Adjusting dataset with waste dataset with GDP

In [42]:
waste_generation = pd.read_csv('../data/plastic-waste-generation-total.csv')
waste_generation.columns = ['country', 'code', 'year', 'total_plastic_waste']
waste_generation

                 country code  year  total_plastic_waste
0                Albania  ALB  2010                73364
1                Algeria  DZA  2010              1898343
2                 Angola  AGO  2010               528843
3    Antigua and Barbuda  ATG  2010                22804
4              Argentina  ARG  2010              2753550
..                   ...  ...   ...                  ...
163              Uruguay  URY  2010               310379
164              Vanuatu  VUT  2010                25443
165            Venezuela  VEN  2010              2669998
166              Vietnam  VNM  2010              3268227
167                Yemen  YEM  2010               887497

[168 rows x 4 columns]

In [71]:
waste_generation.nunique()

country                168
code                   168
year                     1
total_plastic_waste    168
dtype: int64

In [59]:
168 * len(years_columns)

5712

In [63]:
waste_to_production = waste_generation['total_plastic_waste'].sum() / total_plastic_prod_x

In [80]:
yearly_plastic_production_df = pd.DataFrame(columns=['country', 'code', 'year', 'total_plastic_prod'])

years_columns = list(set(gdp_data_of_interest.columns).difference({'Country Name', 'Country Code',
                                              'Indicator Name', 'Indicator Code',
                                              'Unnamed: 68'}))
years_columns.sort()
years_columns = years_columns[30:]

for country in common_countries:
    gdp_country = gdp_data_of_interest[gdp_data_of_interest['Country Name'] == country]
    base_value = gdp_country['2010']
    
    code = waste_generation.loc[waste_generation['country'] == country, 'code'].values[0]
    waste_2010 = waste_generation.loc[waste_generation['country'] == country, 'total_plastic_waste'].values[0]
    
    for year in years_columns:
        proprtion_to_2010 = (gdp_country[year]/base_value).values[0]
        plastic_production = waste_2010 * proprtion_to_2010 / waste_to_production
        data = [[country, code, year, plastic_production]]
        yearly_plastic_production_df = pd.concat([yearly_plastic_production_df, 
                                                pd.DataFrame(data,columns=['country', 'code', 'year', 'total_plastic_prod'])])

2024-07-12 20:14:44 [warning  ] The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation. category=FutureWarning filename=/var/folders/vs/k0_1ms5n4xn7kr58dhzdsz0w0000gn/T/ipykernel_17837/4160321797.py lineno=20

In [81]:
yearly_plastic_production_df

      country code  year  total_plastic_prod
0     Myanmar  MMR  1990        70910.119571
0     Myanmar  MMR  1991        69389.435247
0     Myanmar  MMR  1992        80845.303313
0     Myanmar  MMR  1993       106037.640269
0     Myanmar  MMR  1994       148587.769477
..        ...  ...   ...                 ...
0   Venezuela  VEN  2019                 NaN
0   Venezuela  VEN  2020                 NaN
0   Venezuela  VEN  2021                 NaN
0   Venezuela  VEN  2022                 NaN
0   Venezuela  VEN  2023                 NaN

[5474 rows x 4 columns]

In [87]:
yearly_plastic_production_df[yearly_plastic_production_df.total_plastic_prod.isna()]

      country code  year  total_plastic_prod
0     Eritrea  ERI  1990                 NaN
0     Eritrea  ERI  1991                 NaN
0     Eritrea  ERI  2012                 NaN
0     Eritrea  ERI  2013                 NaN
0     Eritrea  ERI  2014                 NaN
..        ...  ...   ...                 ...
0   Venezuela  VEN  2019                 NaN
0   Venezuela  VEN  2020                 NaN
0   Venezuela  VEN  2021                 NaN
0   Venezuela  VEN  2022                 NaN
0   Venezuela  VEN  2023                 NaN

[128 rows x 4 columns]

In [89]:
yearly_plastic_production_df.to_csv('../data/01_world_spatio_temporal_plastic_production_v1.csv')

Finished the first step adjusting plastic produciton to the csv 

### Trying to add regional boundaries